* {
    margin: 0;
    padding: 0;
}
body {
    padding-top: 50px;
    height: 3000px;
    padding-right: 24px;
    background-color: lightgray;
    padding-left: 90px ;
    padding-top: 80px;
}
.cart-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cart {
    display:inline-block;
    
}
.profile img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    padding-left: 3px;
}
.video img {
    width: 300px;
}
.detail {
    padding-top: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.description {
    margin-left: 10px;
}
.description .video-athor {
    margin-top: 10px;
    padding-bottom: 6px;
}