* {
    margin: 0;
    padding: 0;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}
p { 
    margin-left: 10px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 20px;
}
.video-title {
    font-family: Arial;
    font-weight: bold;
}
.profile>img {
    width: 40px;
    height: 40px;
    border-radius:  50%;
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 10px;
}
.profile {
    display: inline-block;
    vertical-align: top;
}
.video-info{
    display: inline-block;
}
.cart {
    margin-left: 10px;
    display: inline-block;
    width: 350px;
}
.video>img {
    width: 350px;
}